<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.SimpleDriverDataSource">
		<property name="driverClass" value="oracle.jdbc.driver.OracleDriver" />
		<property name="url"
			value="jdbc:oracle:thin:@//nailrords.c11rpm6ehx4h.ap-northeast-2.rds.amazonaws.com:1521/ORCL" />
		<property name="username" value="kimjunyeop" />
		<property name="password" value="1234567890!" />
	</bean>
		 
	<bean id = "resRecommendRegion" class="com.javalec.Response.ResRecommendRegion">
		<property name="dataSource" ref="dataSource"/>
	</bean>
	
	<!-- 2017-07-16 임시로 객체를 아무 값이나 초기화한 상태입니다.
 	후에 DB와 연동하여 데이터를 가져와야 합니다.-->
	<bean id = "discountCoupon" class = "com.javalec.object.DiscountCoupon">
		<property name = "serialNum" value = "123-456-789"/>
		<property name = "area" value = 8/>
	</bean>
	<bean id = "resDiscountCoupon"
		  class = "com.javalec.Response.ResDiscountCoupon">
			<property name = "discountCoupon" ref = "discountCoupon"/>
	</bean>
</beans>
